body{
    background-color: rgb(113, 119, 117)
}
h1{

    color:rgb(255, 0, 0)
}
 h3{

    color:rgba(203, 38, 93, 0.721)
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
  }
